<%- include partials/header.ejs%>

<%- include partials/main_nav.ejs%>

<!-- Main Content -->
<main class="container main_container ">

    <h1 class="display-4"><%= title %></h1>
    <hr />
    <div class="m-y-4">
        <h3 class="text-center">Safety Gear Detector</h3>
        <br />
        <div class="content">

            <div class="project-content">
                <p>An application to detect people using camera and to check if they are wearing safety jackets and hard
                    hats. The application also counts the total number of people detected and the count people who are
                    violating the safety norms.”</p>
                <p><span class="font-weight-bold">Role: </span> To develop a python code to execute the application
                    using pre-trained models.</p>
            </div>

            <div class="project_imgae"> <img class="content_img" src="Assets/images/safety.jpg" alt=""></div>
        </div>
        <hr />
    </div>

    <div class="m-y-4">

        <h3 class="text-center">Intelligent Parking Lot Counter</h3>
        <br />
        <div class="content">

            <div class="project-content">
                <p>An application to detect cars in parking area using camera and to calculate the number of slots
                    available for parking. The application determines the movement of cars that are moving inwards and
                    outwards, to calculate the available slots</p>
                <p><span class="font-weight-bold">Role: </span> To develop a python code to execute the application
                    using pre-trained models.</p>
            </div>

            <div class="project_imgae"> <img class="content_img" src="Assets/images/parking.jpg" alt=""></div>
        </div>
        <hr />
    </div>
    <div class="m-y-4">

        <h3 class="text-center">AI enhancement Toolkit </h3>
        <br />
        <div class="content">

            <div class="project-content">
                <p>A toolkit to enhance the performance of AI application, which consists of several APIs, sample applications to use the APIs and library of pre-trained models</p>
                <p><span class="font-weight-bold">Role: </span> To provide technical support for end users by debugging
                    the issues reported in support forum and to guide the users with necessary steps to resolve their
                    reported issue.</p>
            </div>

            <div class="project_imgae"> <img class="content_img" src="Assets/images/support.jpg" alt=""></div>
        </div>
        <hr />
    </div>

    </div>


</main>

<%- include partials/bottom_nav.ejs%>
<%- include partials/footer.ejs%>