<%- include partials/header.ejs%>

<%- include partials/main_nav.ejs%>

    <!-- Main Content -->
    <main class=" main_container">
        <div class="row">
            <div class="offset-md-1 col-md-10">
                <h1><%= title %></h1>
                <br>
                <table class="table table-bordered table-striped table-hover">
                    <!-- Header Row-->
                    <tr class="d-flex">
                        <th class="text-centre col-3">Username</th>
                        <th class="text-centre col-4">Email</th >
                    </tr>

                    <!-- Repeatable Template Row -->

                    <% for(let count =0; count < UsersList.length; count++) { %>
                        <tr class="d-flex">
                            <td class="text-center col-3"><%= UsersList[count].username %></td>
                            <td class="text-center col-4"><%= UsersList[count].email %></td>
                        </tr>
                    <% } %>
                </table>
            </div>
        </div>
    </main>
    
<%- include partials/bottom_nav.ejs%>
<%- include partials/footer.ejs%>